body {
	background-image: url("../images/background-dark.png");
	width: 100%;
	height: 100%;
}
div {
	color: white;
	font-size: 30px;
}
.cartman, .tweek, .nathan, .kenny {
	width: 175px;
	height: 175px;
	/*float: left;*/
	margin-right: 20px;
}
.cartmanName, .nathanName, .tweekName, .kennyName {
	text-align: center;
	color: black;
}
.kennyHealth, .tweekHealth, .cartmanHealth, .nathanHealth {
	color: black;
	text-align: center;
}
.tile {
	position: relative;
	display: inline-block;
	background-color: white;
	height: 260px;
}
.playerOptions {
	margin-top: 50px;
	margin-bottom: 10px;
}
.enemiesToAttack {
	padding-top: 25px;
	clear: both;
}
.enemy {
	background-color: red;
	left: -275px;
}
.attacker {
	background-color: grey;
}
.defender {
	background-color: mediumpurple;
}
.defendingEnemy {
	padding-top: 25px;
}
.attackButtonStyle {
	top: 100px;
}
.displayBox {
	background-color: white;
	height: 100px;
	width: 300px;
	margin-top: 10px;
	text-align: center;
	opacity: .3;
}

.userCurrentAttack, .computerCounterAttack {
	opacity: 1;
	color: black;
	padding-top: 10px;
	font-weight: 10px;
	font-size: 20px;
}