body {
	background-image: url("../images/background-dark.png");
}
div {
	color: white;
	font-size: 30px;
	clear: both;
}
.cartman, .tweek, .nathan, .kenny {
	width: 175px;
	height: 175px;
	float: left;
}